2_AI_Microservice/
4_Book/

1_Dental_AI_Backend/node_modules/
1_Dental_AI_Backend/.env
1_Dental_AI_Backend/uploads/
1_Dental_AI_Backend/ai_engine/.vscode/
1_Dental_AI_Backend/ai_engine/__pycache__/
1_Dental_AI_Backend/ai_engine/runs/
1_Dental_AI_Backend/ai_engine/weights/

0_Dental_AI_Project/Old_Experiments_Archive/
0_Dental_AI_Project/02_Models/
0_Dental_AI_Project/01_Data/
0_Dental_AI_Project/04_Results/01_Detection/Run_Final_Classes/weights/
0_Dental_AI_Project/README.txt
0_Dental_AI_Project/yolov8m.pt

3_Mobile_App/frontend/node_modules/
3_Mobile_App/frontend/client/public/
3_Mobile_App/frontend/client/node_modules/
3_Mobile_App/frontend/client/src/config.js


3_Mobile_App/Mobile_APPs/

